<div class='floatbar'>


                <div class="logo-float-bar medium-4 columns" id="float-bar">
                    <div class="medium-4 columns float-content"></div>
                    <div class="medium-8 columns float-content">
                        <a class="nonblock nontext anim_swing colelem" href='#top'>
                            <img src="../images/logo-flat.png" />
                        </a>
                   </div>
                </div>
                <div class="logo-float-bar medium-8 columns" id="float-bar">
                    <div class="medium-2 columns float-content">
                        <a class="nonblock nontext anim_swing colelem" href="#factory">
                            <p>L'entreprise</p>
                        </a>
                    </div>
                    <div class="medium-2 columns float-content">
                        <a class="nonblock nontext anim_swing colelem" href="#news">
                            <p>Nos prestations</p>
                        </a>
                    </div>
                    <div class="medium-2 columns float-content">
                        <a class="nonblock nontext anim_swing colelem" href="#media">
                            <p>Galerie photos</p>
                        </a>
                    </div>
                    <div class="medium-2 columns float-content">
                        <a class="nonblock nontext anim_swing colelem" href="#contact">
                            <p>Nous contacter</p>
                        </a>
                    </div>
                    <div class="medium-4 columns float-content"></div>
                </div>

</div>

<div id='reveal-uxem' class='reveal-modal' data-reveal aria-hidden="true" role="dialog">
    <div class='row content-orbit'>
        <div class="orbit-container">
          <ul data-orbit class="example-orbit orbit-slides-container">
            <li>
              <img src="../images/galery/uxem/img1.jpg" alt="slide 1" />
              <div class="orbit-caption">
                Caption One.
              </div>
            </li>
            <li class="active">
              <img src="../images/galery/uxem/img2.jpg" alt="slide 1" />
              <div class="orbit-caption">
                Caption Two.
              </div>
            </li>
            <li>
              <img src="../images/galery/uxem/img3.jpg" alt="slide 1" />
              <div class="orbit-caption">
                Caption Three.
              </div>
            </li>
          </ul>

          <!-- Navigation Arrows -->
          <a href="#" class="orbit-prev">Prev <span></span></a>
          <a href="#" class="orbit-next">Next <span></span></a>

          <!-- Slide Numbers -->
          <div class="orbit-slide-number">
            <span>1</span> of <span>3</span>
          </div>

          <!-- Timer and Play/Pause Button -->
          <div class="orbit-timer">
            <span></span>
            <div class="orbit-progress"></div>
          </div>
        </div>
    </div>

    <!-- Bullets -->
    <ol class="orbit-bullets">
      <li data-orbit-slide-number="1"></li>
      <li data-orbit-slide-number="2" class="active"></li>
      <li data-orbit-slide-number="3"></li>
    </ol>
</div>

<a class="anchor_item colelem" id="top"></a>
<div class="clearfix" id="page"><!-- column -->
    <div class="position_content" id="page_position_content">
        <div class="SlideShowWidget clearfix colelem wp-slideshow-playing" id="slideshowu731"><!-- none box -->
            <div class="popup_anchor" id="u734popup">
                <div class="SlideShowContentPanel clearfix" id="u734" style="width: 1280px; height: 0px; left: -60px;">
                    <!-- stack box -->
                    <div class="SSSlide clip_frame grpelem wp-panel wp-panel-active borderbox" id="u735"
                         style="width: 100%;"><!-- image -->
                        <img class="" id="u735_img" data-src="images/header.jpg" src="/images/header.jpg" alt=""
                             data-width="1620" data-height="1080"
                             style="width: 1620px; height: 1080px; margin-top: 0px; margin-left: -170px;">
                    </div>
                </div>
            </div>
        </div>
        <a class="anchor_item colelem" id="home"></a>

        <div class="clearfix colelem" id="pu786"><!-- group -->
            <div class="grpelem" id="u786"><!-- simple frame --></div>
              <nav class="MenuBar clearfix grpelem" id="menuu793"><!-- horizontal box -->
                <div class="MenuItemContainer clearfix grpelem" id="u801"><!-- vertical box -->
                    <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u802"
                       href="#factory"><!-- horizontal box -->
                        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u803-4"><!-- content --><p>L'entreprise</p>
                        </div>
                    </a>
                </div>
                <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
                    <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u811"
                       href="#news"><!-- horizontal box -->
                        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u812-4"><!-- content --><p>Nos prestations</p></div>
                    </a>
                </div>
                <div class="MenuItemContainer clearfix grpelem" id="u822"><!-- vertical box -->
                    <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u823"
                       href="#media"><!-- horizontal box -->
                        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u824-4"><!-- content --><p>Galerie photos</p>
                        </div>
                    </a>
                </div>
                <div class="MenuItemContainer clearfix grpelem" id="u836"><!-- vertical box -->
                    <a class="nonblock nontext MenuItem MenuItemWithSubMenu anim_swing clearfix colelem" id="u839"
                       href="#contact"><!-- horizontal box -->
                        <div class="MenuItemLabel NoWrap clearfix grpelem" id="u842-4"><!-- content --><p>Nous contacter</p>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="clearfix colelem" id="pu843-4"><!-- group -->
            <div class="clearfix grpelem" id="u843-4"><!-- content -->
                <p>Mediascene Evenementiel</p>
            </div>
            <div class="PamphletWidget clearfix grpelem wp-slideshow-playing" id="pamphletu957"><!-- none box -->
                <div class="popup_anchor" id="u966popup">
                    <div class="wp-slideshow-clip"
                         style="position: absolute; width: 360px; height: 256px; overflow: hidden; left: auto; top: auto;">
                        <p id='actu'>Actualité</p>
                        <div class="ContainerGroup clearfix" id="u966"
                             style="width: 360px; height: 768px; position: relative; top: -512px; left: 0px; margin: 0px; overflow: visible;">
                            <!-- stack box -->
                            <% data.news.each do |news| %>
                              <div class="Container rounded-corners clearfix grpelem wp-panel topnews-container"><!-- group -->
                                  <div class="clearfix grpelem topnews"><!-- content -->
                                      <p><%= news.content %></p>
                                  </div>
                              </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="ThumbGroup clearfix grpelem" id="u960"><!-- none box -->
                    <div class="popup_anchor">
                        <div class="Thumb popup_element rounded-corners" id="u963"><!-- simple frame --></div>
                    </div>
                    <div class="popup_anchor">
                        <div class="Thumb popup_element rounded-corners" id="u961"><!-- simple frame --></div>
                    </div>
                    <div class="popup_anchor">
                        <div class="Thumb popup_element rounded-corners wp-tab-active PamphletThumbSelected" id="u962">
                            <!-- simple frame --></div>
                    </div>
                </div>
                <div class="popup_anchor margin-top-pop-anchor">
                    <div class="PamphletPrevButton PamphletLightboxPart popup_element" id="u958">
                        <!-- simple frame --></div>
                </div>
                <div class="popup_anchor">
                    <div class="PamphletNextButton PamphletLightboxPart popup_element" id="u964">
                        <!-- simple frame --></div>
                </div>
            </div>
        </div>
        <div class="clearfix colelem" id="u845-4"><!-- content -->
            <p><span id="u845">Sonorisation / Eclairage / Feux d'artifices</span>
            </p>
        </div>
        <div class="PamphletWidget clearfix colelem" id="pamphletu1037"><!-- none box -->
            <div class="popup_anchor" id="u1046popup">

            </div>
            <div class="popup_anchor">

            </div>
        </div>
        <a class="nonblock nontext anim_swing colelem" id="u2050" href="#factory"><!-- simple frame --></a>

        <a class="anchor_item colelem" id="factory"></a>
        <div class="browser_width" id="u519-bw">
            <div id="u519"><!-- simple frame --></div>
        </div>

        <div class="" id="u2057"><!-- simple frame --></div>
        <div class="clearfix colelem" id="pu508"><!-- group -->
            <div class="grpelem ose_ei" id="u508"
                 data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0.7071,M12=0.7071,M21=-0.7071,M22=0.7071,SizingMethod=&#39;auto expand&#39;)"
                 data-mu-ie-matrix-dx="27" data-mu-ie-matrix-dy="-67" style="opacity: 0;"><!-- simple frame --></div>
            <div class="clearfix grpelem h2_white" id="u506-4"><!-- content -->
                <h2>L'entreprise</h2>
            </div>
        </div>
        <div class="clearfix colelem" id="u535-11"><!-- content -->
            <p><span id="u535">Mediascene</span>&nbsp;une équipe de professionnels en sonorisation, éclairage et pyrotechnie pour tous vos événements.<br>
            Vous cherchez une sonorisation de qualité, un éclairage professionnel, des artificiers qualifiés.<br>
            Nous sommmes à votre disposition pour tous types d'événements :<br>
              - Concerts<br>
              - Congrés<br>
              - Soirées<br>
              - Repas spectacles<br>
              - Feux d'artifices musicaux C4T2 N1 et N2 (K3, K4)<br>
              - Feux d'artifices privés (anniversaire, mariage, ...)<br>
            <br>
            Médiascène c'est aussi, la location de tous matériels de sonorisation et d 'éclairage.<br>
            Packs et formules à prix réduits. Ainsi que la vente. Matériel récent et adapté à vos événements.<br></p>
        </div>

        <a class="anchor_item colelem" id="news"></a>

        <div class="clearfix colelem" id="ppamphletu641"><!-- group -->
            <div class="PamphletWidget clearfix grpelem wp-slideshow-playing" id="pamphletu641"><!-- none box -->
                <div class="popup_anchor" id="u650popup">
                    <div class="wp-slideshow-clip"
                         style="position: absolute; width: 961px; height: 523px; overflow: hidden; left: auto; top: 86px;">
                        <div class="ContainerGroup clearfix" id="u650"
                             style="width: 961px; height: 1046px; position: relative; top: 0px; left: 0px; margin: 0px; overflow: visible;">
                            <!-- stack box -->
                            <div class="Container rounded-corners clearfix grpelem wp-panel wp-panel-active" id="u661"
                                 style="left: 0px; top: 0px; margin: 0px; position: absolute;"><!-- group -->
                                <div class="clearfix grpelem" id="u680"><!-- group -->
                                    <div class="clearfix grpelem" id="pu686-7"><!-- column -->
                                        <div class="clearfix colelem" id="u686-7"><!-- content -->
                                            <p id="u686-2" class='textAlignCenter'>Gala association label guit'art <br> ESQUELBECQ</p>

                                            <p id="u686-3">&nbsp;</p>

                                            <p id="u686-5">Etiam vel mattis ex. Curabitur ut pharetra lacus. Aliquam ac
                                                ipsum et risus sodales auctor non vel orci. Vestibulum nec dolor risus.
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Nunc at aliquet massa. Quisque eu sagittis leo.
                                                Aliquam hendrerit lectus nunc.</p>
                                        </div>
                                        <div class="museBGSize colelem" id="u682"><!-- simple frame --></div>
                                    </div>
                                    <div class="grpelem" id="u684"><!-- simple frame --></div>
                                    <div class="clearfix grpelem" id="pu688"><!-- column -->
                                        <div class="museBGSize colelem" id="u688"><!-- simple frame --></div>
                                        <div class="clearfix colelem" id="u685-7"><!-- content -->
                                            <p id="u685-2" class='textAlignCenter'>Feu d'artifice 14 Juillet <br> Houdain</p>

                                            <p id="u685-3">&nbsp;</p>

                                            <p id="u685-5">Etiam vel mattis ex. Curabitur ut pharetra lacus. Aliquam ac
                                                ipsum et risus sodales auctor non vel orci. Vestibulum nec dolor risus.
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Nunc at aliquet massa. Quisque eu sagittis leo.
                                                Aliquam hendrerit lectus nunc.</p>
                                        </div>
                                    </div>
                                    <div class="grpelem" id="u681"><!-- simple frame --></div>
                                    <div class="clearfix grpelem" id="pu683-7"><!-- column -->
                                        <div class="clearfix colelem" id="u683-7"><!-- content -->
                                            <p id="u683-2" class='textAlignCenter'>Descente du père Noël <br> Wormhout</p>

                                            <p id="u683-3">&nbsp;</p>

                                            <p id="u683-5">Aliquam ac ipsum et risus sodales auctor non vel orci.
                                                Vestibulum nec dolor risus. Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fames ac turpis egestas. Nunc at aliquet
                                                massa. Quisque eu sagittis leo. Aliquam hendrerit lectus nunc.
                                                Vestibulum vehicula facilisis risus, ac sollicitudin erat finibus.</p>
                                        </div>
                                        <div class="museBGSize colelem" id="u687"><!-- simple frame --></div>
                                    </div>
                                </div>
                            </div>
                            <div class="Container rounded-corners clearfix grpelem wp-panel" id="u656"
                                 style="left: 0px; top: 523px; margin: 0px; position: absolute;"><!-- group -->
                                <div class="clearfix grpelem" id="u640"><!-- group -->
                                    <div class="clearfix grpelem" id="pu540"><!-- column -->
                                        <div class="museBGSize colelem" id="u540"><!-- simple frame --></div>
                                        <div class="clearfix colelem" id="u553-7"><!-- content -->
                                            <p id="u553-2" class='textAlignCenter'>Back in the studio</p>

                                            <p id="u553-3">&nbsp;</p>

                                            <p id="u553-5">Etiam vel mattis ex. Curabitur ut pharetra lacus. Aliquam ac
                                                ipsum et risus sodales auctor non vel orci. Vestibulum nec dolor risus.
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Nunc at aliquet massa. Quisque eu sagittis leo.
                                                Aliquam hendrerit lectus nunc.</p>
                                        </div>
                                    </div>
                                    <div class="grpelem" id="u549"><!-- simple frame --></div>
                                    <div class="clearfix grpelem" id="pu551-7"><!-- column -->
                                        <div class="clearfix colelem" id="u551-7"><!-- content -->
                                            <p id="u551-2" class='textAlignCenter'>New gadget giveaway!</p>

                                            <p id="u551-3">&nbsp;</p>

                                            <p id="u551-5">Etiam vel mattis ex. Curabitur ut pharetra lacus. Aliquam ac
                                                ipsum et risus sodales auctor non vel orci. Vestibulum nec dolor risus.
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fames ac turpis egestas. Nunc at aliquet massa. Quisque eu sagittis leo.
                                                Aliquam hendrerit lectus nunc. Vestibulum vehicula facilisis.</p>
                                        </div>
                                        <div class="museBGSize colelem" id="u547"><!-- simple frame --></div>
                                    </div>
                                    <div class="grpelem" id="u550"><!-- simple frame --></div>
                                    <div class="clearfix grpelem" id="pu548"><!-- column -->
                                        <div class="museBGSize colelem" id="u548"><!-- simple frame --></div>
                                        <div class="clearfix colelem" id="u554-7"><!-- content -->
                                            <p id="u554-2" class='textAlignCenter'>Album out now</p>

                                            <p id="u554-3">&nbsp;</p>

                                            <p id="u554-5">Aliquam ac ipsum et risus sodales auctor non vel orci.
                                                Vestibulum nec dolor risus. Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fames ac turpis egestas. Nunc at aliquet
                                                massa. Quisque eu sagittis leo. Aliquam hendrerit lectus nunc.
                                                Vestibulum vehicula facilisis risus, ac sollicitudin.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ThumbGroup clearfix grpelem" id="u644"><!-- none box -->
                    <div class="popup_anchor">
                        <div class="Thumb popup_element rounded-corners wp-tab-active PamphletThumbSelected" id="u647">
                            <!-- simple frame --></div>
                    </div>
                    <div class="popup_anchor">
                        <div class="Thumb popup_element rounded-corners" id="u645"><!-- simple frame --></div>
                    </div>
                </div>
                <div class="popup_anchor">
                    <div class="PamphletPrevButton PamphletLightboxPart popup_element" id="u642">
                        <!-- simple frame --></div>
                </div>
                <div class="popup_anchor">
                    <div class="PamphletNextButton PamphletLightboxPart popup_element" id="u648">
                        <!-- simple frame --></div>
                </div>
            </div>
            <div class="clearfix grpelem" id="u539-4"><!-- content -->
                <h2>Nos prestations</h2>
            </div>
        </div>
        <div class="browser_width colelem" id="u1280-bw" style="height: 1052px;">
            <div class="museBGSize rgba-background" id="u1280"><!-- column -->
                <div class="clearfix" id="u1280_align_to_page">
                    <div class="position_content" id="u1280_position_content">
                        <a class="anchor_item colelem" id="media"></a>

                        <div class="clearfix colelem h2_white" id="u1299-4"><!-- content -->
                            <h2>Galerie photos</h2>
                        </div>
                        <div class="TabbedPanelsWidget clearfix colelem" id="tab-panelu1307"><!-- vertical box -->
                            <div class="TabbedPanelsTabGroup clearfix colelem" id="u1321"><!-- horizontal box -->
                                <div class="TabbedPanelsTab gradient clearfix grpelem TabbedPanelsTabSelected TabbedPanelsTabFirst"
                                     id="u1326"><!-- horizontal box -->
                                    <div class=" NoWrap clearfix grpelem" id="u1327-4"><!-- content -->
                                        <p>Sonorisation / Eclairage</p>
                                    </div>
                                </div>
                                <div class="TabbedPanelsTab gradient clearfix grpelem TabbedPanelsTabLast" id="u1322">
                                    <!-- horizontal box -->
                                    <div class=" NoWrap clearfix grpelem" id="u1324-4"><!-- content -->
                                        <p>Feux d'artifice</p>
                                    </div>
                                </div>
                            </div>
                            <div class="TabbedPanelsContentGroup clearfix colelem" id="u1308"><!-- stack box -->
                                <div class="TabbedPanelsContent clearfix grpelem TabbedPanelsContentVisible" id="u1317"
                                     style="display: block;"><!-- column -->
                                    <div class="clearfix colelem" id="pu1899"><!-- group -->
                                        <div class="clearfix grpelem" id="u1899"><!-- group -->
                                            <div class="grpelem" id="pu1904"><!-- inclusion -->
                                                <div id="u1904"><!-- simple frame -->
                                                    <div class="_u1904 f3s_top" id="_u1904-f3s_top"></div>
                                                    <div class="_u1904 f3s_mid" id="_u1904-f3s_mid"></div>
                                                    <div class="_u1904 f3s_bot" id="_u1904-f3s_bot"></div>
                                                </div>
                                                <div class="clearfix" id="pu1902-13"><!-- group -->
                                                    <div class="clearfix grpelem" id="u1902-13"><!-- content -->
                                                        <p id="u1902-2">The Machinist - Two</p>

                                                        <p id="u1902-3">&nbsp;</p>

                                                        <p id="u1902-5">Produced by lipsum</p>

                                                        <p id="u1902-8"><span id="u1902-6">Recordet @ </span><span
                                                                id="u1902-7">Studio60</span></p>

                                                        <p id="u1902-9">&nbsp;</p>

                                                        <p id="u1902-11"><span id="u1902-10">© 2015 lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                                        </p>
                                                    </div>
                                                    <div class="grpelem" id="u1900"><!-- simple frame --></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grpelem" id="u1887"><!-- custom html -->
                                        </div>
                                        <div class="grpelem" id="u2032"><!-- simple frame --></div>
                                    </div>
                                    <div class="clearfix colelem" id="ppu1906"><!-- group -->
                                        <div class="grpelem" id="pu1906"><!-- inclusion -->
                                            <div id="u1906"><!-- simple frame -->
                                                <div class="_u1906 f3s_top" id="_u1906-f3s_top"></div>
                                                <div class="_u1906 f3s_mid" id="_u1906-f3s_mid"></div>
                                                <div class="_u1906 f3s_bot" id="_u1906-f3s_bot"></div>
                                            </div>
                                            <div class="clearfix" id="pu1907-13"><!-- group -->
                                                <div class="clearfix grpelem" id="u1907-13"><!-- content -->
                                                    <p id="u1907-2">Artist - Track</p>

                                                    <p id="u1907-3">&nbsp;</p>

                                                    <p id="u1907-5">Produced by lipsum</p>

                                                    <p id="u1907-8"><span id="u1907-6">Recordet @ </span><span
                                                            id="u1907-7">Studio60</span></p>

                                                    <p id="u1907-9">&nbsp;</p>

                                                    <p id="u1907-11"><span id="u1907-10">© 2015 lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                                    </p>
                                                </div>
                                                <div class="grpelem" id="u1908"><!-- simple frame --></div>
                                            </div>
                                        </div>
                                        <div class="grpelem" id="u1909"><!-- custom html -->
                                        </div>
                                        <div class="grpelem" id="u2038"><!-- simple frame --></div>
                                    </div>
                                    <div class="clearfix colelem" id="ppu1911"><!-- group -->
                                        <div class="grpelem" id="pu1911"><!-- inclusion -->
                                            <div id="u1911"><!-- simple frame -->
                                                <div class="_u1911 f3s_top" id="_u1911-f3s_top"></div>
                                                <div class="_u1911 f3s_mid" id="_u1911-f3s_mid"></div>
                                                <div class="_u1911 f3s_bot" id="_u1911-f3s_bot"></div>
                                            </div>
                                            <div class="clearfix" id="pu1912-13"><!-- group -->
                                                <div class="clearfix grpelem" id="u1912-13"><!-- content -->
                                                    <p id="u1912-2">Someone - Song</p>

                                                    <p id="u1912-3">&nbsp;</p>

                                                    <p id="u1912-5">Produced by lipsum</p>

                                                    <p id="u1912-8"><span id="u1912-6">Recordet @ </span><span
                                                            id="u1912-7">Studio60</span></p>

                                                    <p id="u1912-9">&nbsp;</p>

                                                    <p id="u1912-11"><span id="u1912-10">© 2015 lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                                    </p>
                                                </div>
                                                <div class="grpelem" id="u1913"><!-- simple frame --></div>
                                            </div>
                                        </div>
                                        <div class="grpelem" id="u1914"><!-- custom html -->
                                        </div>
                                        <div class="grpelem" id="u2039"><!-- simple frame --></div>
                                    </div>
                                </div>
                                <div class="TabbedPanelsContent clearfix grpelem" id="u1318" style="display: none;">
                                    <div class="clearfix colelem" id="pu1899"><!-- group -->
                                        <div class="clearfix grpelem" id="u1899"><!-- group -->
                                            <div class="grpelem" id="pu1904"><!-- inclusion -->
                                                <div id="u1904"><!-- simple frame -->
                                                    <div class="_u1904 f3s_top" id="_u1904-f3s_top"></div>
                                                    <div class="_u1904 f3s_mid" id="_u1904-f3s_mid"></div>
                                                    <div class="_u1904 f3s_bot" id="_u1904-f3s_bot"></div>
                                                </div>
                                                <div class="clearfix" id="pu1902-13"><!-- group -->
                                                    <div class="clearfix grpelem" id="u1902-13"><!-- content -->
                                                        <p id="u1902-2">Houdain</p>

                                                        <p id="u1902-3">&nbsp;</p>

                                                        <p id="u1902-5">Ducasse annuelle</p>

                                                        <p id="u1902-8"><span id="u1902-6">Tir @ </span><span
                                                                id="u1902-7">Uxem</span></p>

                                                        <p id="u1902-9">&nbsp;</p>

                                                        <p id="u1902-11"><span id="u1902-10">© 2015 lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                                        </p>
                                                    </div>
                                                    <div class="grpelem" id="u1900"><!-- simple frame --></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grpelem" id="u1887"><!-- custom html -->
                                        </div>
                                        <div class="grpelem show-reveal-galery" id="u2032" data-reveal-ref='reveal-uxem'><!-- simple frame --></div>
                                    </div>
                                    <div class="clearfix colelem" id="ppu1906"><!-- group -->
                                        <div class="grpelem" id="pu1906"><!-- inclusion -->
                                            <div id="u1906"><!-- simple frame -->
                                                <div class="_u1906 f3s_top" id="_u1906-f3s_top"></div>
                                                <div class="_u1906 f3s_mid" id="_u1906-f3s_mid"></div>
                                                <div class="_u1906 f3s_bot" id="_u1906-f3s_bot"></div>
                                            </div>
                                            <div class="clearfix" id="pu1907-13"><!-- group -->
                                                <div class="clearfix grpelem" id="u1907-13"><!-- content -->
                                                    <p id="u1907-2">Descente du père noël</p>

                                                    <p id="u1907-3">&nbsp;</p>

                                                    <p id="u1907-5">Produced by lipsum</p>

                                                    <p id="u1907-8"><span id="u1907-6">Tir @ </span><span
                                                            id="u1907-7">Wormhout</span></p>

                                                    <p id="u1907-9">&nbsp;</p>

                                                    <p id="u1907-11"><span id="u1907-10">© 2015 lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                                    </p>
                                                </div>
                                                <div class="grpelem" id="u1908"><!-- simple frame --></div>
                                            </div>
                                        </div>
                                        <div class="grpelem" id="u1909"><!-- custom html -->
                                        </div>
                                        <div class="grpelem" id="u2038"><!-- simple frame --></div>
                                    </div>
                                    <div class="clearfix colelem" id="ppu1911"><!-- group -->
                                        <div class="grpelem" id="pu1911"><!-- inclusion -->
                                            <div id="u1911"><!-- simple frame -->
                                                <div class="_u1911 f3s_top" id="_u1911-f3s_top"></div>
                                                <div class="_u1911 f3s_mid" id="_u1911-f3s_mid"></div>
                                                <div class="_u1911 f3s_bot" id="_u1911-f3s_bot"></div>
                                            </div>
                                            <div class="clearfix" id="pu1912-13"><!-- group -->
                                                <div class="clearfix grpelem" id="u1912-13"><!-- content -->
                                                    <p id="u1912-2">Fête nationale</p>

                                                    <p id="u1912-3">&nbsp;</p>

                                                    <p id="u1912-5">Produced by lipsum</p>

                                                    <p id="u1912-8"><span id="u1912-6">Tir @ </span><span
                                                            id="u1912-7">Houdain</span></p>

                                                    <p id="u1912-9">&nbsp;</p>

                                                    <p id="u1912-11"><span id="u1912-10">© 2015 lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                                    </p>
                                                </div>
                                                <div class="grpelem" id="u1913"><!-- simple frame --></div>
                                            </div>
                                        </div>
                                        <div class="grpelem" id="u1914"><!-- custom html -->
                                        </div>
                                        <div class="grpelem" id="u2039"><!-- simple frame --></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix colelem" id="pu1923"><!-- group -->
            <div class="browser_width grpelem" id="u1923-bw" style="height: 735px;">
                <div id="u1923"><!-- column -->
                    <div class="clearfix" id="u1923_align_to_page">
                        <a class="anchor_item colelem" id="contact"></a>

                        <div class="clearfix colelem h2_white" id="u1927-4"><!-- content -->
                            <h2>Nous contacter</h2>
                        </div>
                        <div class="clearfix colelem" id="pu1955-14"><!-- group -->
                            <div class="clearfix grpelem" id="u1955-14"><!-- content -->
                                <p>20 Place Alphonse Bergerot</p>

                                <p>59470 ESQUELBECQ</p>

                                <p>&nbsp;</p>

                                <p>Portable: 06 08 47 20 86</p>

                                <p>Tél / Fax: 03 28 65 60 39</p>

                                <p>Email: contact@mediascene-ev.com</p>

                                <p>&nbsp;</p>

                                <p>N'hésitez pas à nous laisser un message pour toutes demandes, devis, installations, projets...</p>
                            </div>
                            <div class="clearfix grpelem" id="u1935"><!-- column -->
                                <div class="form-grp clearfix colelem" id="widgetu1937">
                                    <!-- none box -->
                                    <div class="fld-grp clearfix grpelem" id="widgetu1942" data-required="true">
                                        <!-- none box -->
                                        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1944-4"><!-- content --><input
                                                class="wrapped-input" type="text" spellcheck="false"
                                                id="widgetu1942_input" name="custom_U1942" tabindex="1"><label
                                                class="wrapped-input fld-prompt" id="widgetu1942_prompt"
                                                for="widgetu1942_input"><span
                                                class="actAsPara">Votre nom</span></label></span>
                                    </div>
                                    <div class="fld-grp clearfix grpelem" id="widgetu1950" data-required="true"
                                         data-type="email"><!-- none box -->
                                        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u1953-4"><!-- content --><input
                                                class="wrapped-input" type="text" spellcheck="false"
                                                id="widgetu1950_input" name="Email" tabindex="2"><label
                                                class="wrapped-input fld-prompt" id="widgetu1950_prompt"
                                                for="widgetu1950_input"><span
                                                class="actAsPara">Votre email</span></label></span>
                                    </div>
                                    <input class="submit-btn NoWrap grpelem" id="sendMail" type="button" value="Envoyer"
                                           tabindex="4"><!-- state-based BG images -->
                                    <div class="fld-grp clearfix grpelem" id="widgetu1938" data-required="false">
                                        <!-- none box -->
                                        <span class="fld-textarea actAsDiv clearfix grpelem" id="u1940-4"><!-- content --><textarea
                                                class="wrapped-input" id="widgetu1938_input" name="custom_U1938"
                                                tabindex="3"></textarea><label class="wrapped-input fld-prompt"
                                                                               id="widgetu1938_prompt"
                                                                               for="widgetu1938_input"><span
                                                class="actAsPara">Votre message</span></label></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="colelem" id="u2030"><!-- simple frame --></div>
                        <div class="clearfix colelem" id="u2031-7"><!-- content -->
                            <p id="u2031-2">Tous droits réservés</p>

                            <p id="u2031-4">© 2016&nbsp; Mediascene evenementiel</p>

                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix grpelem" id="facebookSentence"><!-- content -->
                <p>Suivez notre actualité en likant notre page facebook</p>
            </div>
            <div class="clearfix grpelem" id="socialContent"><!-- group -->
                <div class="clearfix grpelem" id="pu1931"><!-- column -->
                    <a href="https://www.facebook.com/mediasceneev" class="colelem" id="facebookBottom" target='_blank'><!-- simple frame --></a>
                </div>
            </div>
        </div>
        <div class="verticalspacer" style="min-height: 1px;"></div>
    </div>
</div>
<div class="preload_images">
    <%= image_tag 'prev-full-grey.png' %>
    <%= image_tag 'next-full-grey.png' %>
    <%= image_tag 'big-bullet.png' %>
    <%= image_tag 'u1946-17-r.png' %>
    <%= image_tag 'u1946-17-m.png' %>
    <%= image_tag 'u1946-17-fs.png' %>
    <%= image_tag 'social-icon-1-big-ro.png' %>
    <%= image_tag 'social-icon-4-big-ro.png' %>
    <%= image_tag 'social-icon-2-big-ro.png' %>
    <%= image_tag 'social-icon-5-big-ro.png' %>
    <%= image_tag 'social-icon-3-big-ro.png' %>
    <%= image_tag 'social-icon-6-big-ro.png' %>
</div>
<!-- JS includes -->


<div style="position: absolute; top: 0px; left: 0px; z-index: 100001; display: none;">
    <div style="position: absolute; top: 0px; left: 0px;">
        <div id="u1046"
             style="left: 0px; top: 0px; width: auto; height: auto; padding: 0px; margin: 0px; z-index: auto;">
            <div class="overlayWedge"></div>
        </div>
    </div>
    <div class="LightboxContent" style="position: absolute; left: 0px; top: 0px;">
        <div class="ContainerGroup rgba-background clearfix"
             style="width: 665px; height: 466px; position: absolute; padding: 0px; left: 0px; top: 0px; border-width: 0px; background: none;">
            <!-- stack box -->

            <div class="Container clearfix grpelem wp-panel wp-panel-active" id="u1047"
                 style="position: absolute; left: 0px; top: 0px;"><!-- group -->
                <div class="grpelem" id="u1058"><!-- custom html -->


                </div>
            </div>
        </div>
        <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u1042" style="top: 0px; left: 703px;">
            <!-- simple frame --></div>
    </div>
</div>
<div style="position: absolute; top: 0px; left: 0px; z-index: 100001; display: none;">
    <div style="position: absolute; top: 0px; left: 0px;">
        <div id="u1684"
             style="left: 0px; top: 0px; width: auto; height: auto; padding: 0px; margin: 0px; z-index: auto;">
            <div class="overlayWedge"></div>
        </div>
    </div>
    <div class="LightboxContent" style="position: absolute; left: 0px; top: 0px;">
        <div class="ContainerGroup rgba-background clearfix"
             style="width: 665px; height: 466px; position: absolute; padding: 0px; left: 0px; top: 0px; border-width: 0px; background: none;">
            <!-- stack box -->


            <div class="Container clearfix grpelem wp-panel wp-panel-active" id="u1687"
                 style="position: absolute; left: 0px; top: 0px;"><!-- group -->
                <div class="SlideShowWidget clearfix grpelem wp-slideshow-playing" id="slideshowu1539"><!-- none box -->
                    <div class="popup_anchor" id="u1546popup">
                        <div class="SlideShowContentPanel clearfix" id="u1546" style="width: 0px; height: 0px;">
                            <!-- stack box -->
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1549" style="display: none;">
                                <!-- image -->
                                <%= image_tag '97519096_6cf59f243a_z.jpg' %>
                                <img class="block" id="u1549_img" data-src="images/97519096_6cf59f243a_z.jpg"
                                     src="/images/97519096_6cf59f243a_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1604" style="display: none;">
                                <!-- image -->
                                <div id="u1604_clip">
                                    <img class="position_content" id="u1604_img"
                                         data-src="images/2545318262_7f0d30844d_z.jpg"
                                         src="/images/2545318262_7f0d30844d_z.jpg" alt="" data-width="540"
                                         data-height="360" width="540" height="360">
                                </div>
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel wp-panel-active" id="u1613" style="">
                                <!-- image -->
                                <img class="block" id="u1613_img" data-src="images/3749887150_72b67f2d67_z.jpg"
                                     src="/images/3749887150_72b67f2d67_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1622" style="display: none;">
                                <!-- image -->
                                <img class="block" id="u1622_img"
                                     data-src="images/4080412658_186be3d7c1_z-crop-u1622.jpg"
                                     src="/images/4080412658_186be3d7c1_z-crop-u1622.jpg" alt="" data-width="480"
                                     data-height="360" width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1631" style="display: none;">
                                <!-- image -->
                                <div id="u1631_clip">
                                    <img class="position_content" id="u1631_img"
                                         data-src="images/8939535066_86a20a4c3d_z.jpg"
                                         src="/images/8939535066_86a20a4c3d_z.jpg" alt="" data-width="538"
                                         data-height="360" width="538" height="360">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup_anchor" id="u1553popup">
                        <div class="SSSlideLinks clearfix" id="u1553"><!-- horizontal-rows box -->
                            <div class="SSSlideLink clip_frame grpelem" id="u1554"><!-- image -->
                                <img class="block" id="u1554_img" src="/images/97519096_6cf59f243a_z60x45.jpg" alt=""
                                     width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1607"><!-- image -->
                                <div id="u1607_clip">
                                    <img class="position_content" id="u1607_img"
                                         data-src="images/2545318262_7f0d30844d_z68x45.jpg" alt="" width="68"
                                         height="45">
                                </div>
                            </div>
                            <div class="SSSlideLink clip_frame grpelem wp-tab-active SSSlideLinkSelected" id="u1616">
                                <!-- image -->
                                <img class="block" id="u1616_img" data-src="images/3749887150_72b67f2d67_z60x45.jpg"
                                     alt="" width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame grpelem" id="u1625"><!-- image -->
                                <img class="block" id="u1625_img"
                                     data-src="images/4080412658_186be3d7c1_z-crop-u1625.jpg" alt="" width="60"
                                     height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1634"><!-- image -->
                                <div id="u1634_clip">
                                    <img class="position_content" id="u1634_img"
                                         data-src="images/8939535066_86a20a4c3d_z68x45.jpg" alt="" width="67"
                                         height="45">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Container clearfix grpelem wp-panel" id="u1689"
                 style="display: none; position: absolute; left: 0px; top: 0px;"><!-- group -->
                <div class="SlideShowWidget clearfix grpelem wp-slideshow-playing" id="slideshowu1713"><!-- none box -->
                    <div class="popup_anchor" id="u1730popup">
                        <div class="SlideShowContentPanel clearfix" id="u1730" style="width: 0px; height: 0px;">
                            <!-- stack box -->
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1737" style="display: none;">
                                <!-- image -->
                                <img class="block" id="u1737_img" data-src="images/97519096_6cf59f243a_z.jpg"
                                     src="/images/97519096_6cf59f243a_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1735" style="display: none;">
                                <!-- image -->
                                <div id="u1735_clip">
                                    <img class="position_content" id="u1735_img"
                                         data-src="images/2545318262_7f0d30844d_z.jpg"
                                         src="/images/2545318262_7f0d30844d_z.jpg" alt="" data-width="540"
                                         data-height="360" width="540" height="360">
                                </div>
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel wp-panel-active" id="u1739" style="">
                                <!-- image -->
                                <img class="block" id="u1739_img" data-src="images/3749887150_72b67f2d67_z.jpg"
                                     src="/images/3749887150_72b67f2d67_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1731" style="display: none;">
                                <!-- image -->
                                <img class="block" id="u1731_img"
                                     data-src="images/4080412658_186be3d7c1_z-crop-u1731.jpg"
                                     src="/images/4080412658_186be3d7c1_z-crop-u1731.jpg" alt="" data-width="480"
                                     data-height="360" width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1733" style="display: none;">
                                <!-- image -->
                                <div id="u1733_clip">
                                    <img class="position_content" id="u1733_img"
                                         data-src="images/8939535066_86a20a4c3d_z.jpg"
                                         src="/images/8939535066_86a20a4c3d_z.jpg" alt="" data-width="538"
                                         data-height="360" width="538" height="360">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup_anchor" id="u1716popup">
                        <div class="SSSlideLinks clearfix" id="u1716"><!-- horizontal-rows box -->
                            <div class="SSSlideLink clip_frame grpelem" id="u1719"><!-- image -->
                                <img class="block" id="u1719_img" src="/images/97519096_6cf59f243a_z60x45.jpg" alt=""
                                     width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1717"><!-- image -->
                                <div id="u1717_clip">
                                    <img class="position_content" id="u1717_img"
                                         src="/images/2545318262_7f0d30844d_z68x45.jpg" alt="" width="68" height="45">
                                </div>
                            </div>
                            <div class="SSSlideLink clip_frame grpelem wp-tab-active SSSlideLinkSelected" id="u1725">
                                <!-- image -->
                                <img class="block" id="u1725_img" src="/images/3749887150_72b67f2d67_z60x45.jpg" alt=""
                                     width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame grpelem" id="u1723"><!-- image -->
                                <img class="block" id="u1723_img" src="/images/4080412658_186be3d7c1_z-crop-u1723.jpg"
                                     alt="" width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1721"><!-- image -->
                                <div id="u1721_clip">
                                    <img class="position_content" id="u1721_img"
                                         src="/images/8939535066_86a20a4c3d_z68x45.jpg" alt="" width="67" height="45">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Container clearfix grpelem wp-panel" id="u1685"
                 style="display: none; position: absolute; left: 0px; top: 0px;"><!-- group -->
                <div class="SlideShowWidget clearfix grpelem wp-slideshow-playing" id="slideshowu1772"><!-- none box -->
                    <div class="popup_anchor" id="u1796popup">
                        <div class="SlideShowContentPanel clearfix" id="u1796" style="width: 0px; height: 0px;">
                            <!-- stack box -->
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1805" style="display: none;">
                                <!-- image -->
                                <img class="block" id="u1805_img" data-src="images/97519096_6cf59f243a_z.jpg"
                                     src="/images/97519096_6cf59f243a_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1797" style="display: none;">
                                <!-- image -->
                                <div id="u1797_clip">
                                    <img class="position_content" id="u1797_img"
                                         data-src="images/2545318262_7f0d30844d_z.jpg"
                                         src="/images/2545318262_7f0d30844d_z.jpg" alt="" data-width="540"
                                         data-height="360" width="540" height="360">
                                </div>
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel wp-panel-active" id="u1803" style="">
                                <!-- image -->
                                <img class="block" id="u1803_img" data-src="images/3749887150_72b67f2d67_z.jpg"
                                     src="/images/3749887150_72b67f2d67_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1801" style="display: none;">
                                <!-- image -->
                                <img class="block" id="u1801_img"
                                     data-src="images/4080412658_186be3d7c1_z-crop-u1801.jpg"
                                     src="/images/4080412658_186be3d7c1_z-crop-u1801.jpg" alt="" data-width="480"
                                     data-height="360" width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1799" style="display: none;">
                                <!-- image -->
                                <div id="u1799_clip">
                                    <img class="position_content" id="u1799_img"
                                         data-src="images/8939535066_86a20a4c3d_z.jpg"
                                         src="/images/8939535066_86a20a4c3d_z.jpg" alt="" data-width="538"
                                         data-height="360" width="538" height="360">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup_anchor" id="u1779popup">
                        <div class="SSSlideLinks clearfix" id="u1779"><!-- horizontal-rows box -->
                            <div class="SSSlideLink clip_frame grpelem" id="u1786"><!-- image -->
                                <img class="block" id="u1786_img" src="/images/97519096_6cf59f243a_z60x45.jpg" alt=""
                                     width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1784"><!-- image -->
                                <div id="u1784_clip">
                                    <img class="position_content" id="u1784_img"
                                         src="/images/2545318262_7f0d30844d_z68x45.jpg" alt="" width="68" height="45">
                                </div>
                            </div>
                            <div class="SSSlideLink clip_frame grpelem wp-tab-active SSSlideLinkSelected" id="u1782">
                                <!-- image -->
                                <img class="block" id="u1782_img" src="/images/3749887150_72b67f2d67_z60x45.jpg" alt=""
                                     width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame grpelem" id="u1780"><!-- image -->
                                <img class="block" id="u1780_img" src="/images/4080412658_186be3d7c1_z-crop-u1780.jpg"
                                     alt="" width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1788"><!-- image -->
                                <div id="u1788_clip">
                                    <img class="position_content" id="u1788_img"
                                         src="/images/8939535066_86a20a4c3d_z68x45.jpg" alt="" width="67" height="45">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Container clearfix grpelem wp-panel" id="u1760"
                 style="display: none; position: absolute; left: 0px; top: 0px;"><!-- group -->
                <div class="SlideShowWidget clearfix grpelem wp-slideshow-playing" id="slideshowu1821"><!-- none box -->
                    <div class="popup_anchor" id="u1839popup">
                        <div class="SlideShowContentPanel clearfix" id="u1839" style="width: 0px; height: 0px;">
                            <!-- stack box -->
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1840" style="display: none;">
                                <!-- image -->
                                <img class="block" id="u1840_img" data-src="images/97519096_6cf59f243a_z.jpg"
                                     src="/images/97519096_6cf59f243a_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1848" style="display: none;">
                                <!-- image -->
                                <div id="u1848_clip">
                                    <img class="position_content" id="u1848_img"
                                         data-src="images/2545318262_7f0d30844d_z.jpg"
                                         src="/images/2545318262_7f0d30844d_z.jpg" alt="" data-width="540"
                                         data-height="360" width="540" height="360">
                                </div>
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel wp-panel-active" id="u1846" style="">
                                <!-- image -->
                                <img class="block" id="u1846_img" data-src="images/3749887150_72b67f2d67_z.jpg"
                                     src="/images/3749887150_72b67f2d67_z.jpg" alt="" data-width="480" data-height="360"
                                     width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame grpelem wp-panel" id="u1842" style="display: none;">
                                <!-- image -->
                                <img class="block" id="u1842_img"
                                     data-src="images/4080412658_186be3d7c1_z-crop-u1842.jpg"
                                     src="/images/4080412658_186be3d7c1_z-crop-u1842.jpg" alt="" data-width="480"
                                     data-height="360" width="480" height="360">
                            </div>
                            <div class="SSSlide clip_frame clearfix grpelem wp-panel" id="u1844" style="display: none;">
                                <!-- image -->
                                <div id="u1844_clip">
                                    <img class="position_content" id="u1844_img"
                                         data-src="images/8939535066_86a20a4c3d_z.jpg"
                                         src="/images/8939535066_86a20a4c3d_z.jpg" alt="" data-width="538"
                                         data-height="360" width="538" height="360">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup_anchor" id="u1825popup">
                        <div class="SSSlideLinks clearfix" id="u1825"><!-- horizontal-rows box -->
                            <div class="SSSlideLink clip_frame grpelem" id="u1826"><!-- image -->
                                <img class="block" id="u1826_img" src="/images/97519096_6cf59f243a_z60x45.jpg" alt=""
                                     width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1834"><!-- image -->
                                <div id="u1834_clip">
                                    <img class="position_content" id="u1834_img"
                                         src="/images/2545318262_7f0d30844d_z68x45.jpg" alt="" width="68" height="45">
                                </div>
                            </div>
                            <div class="SSSlideLink clip_frame grpelem wp-tab-active SSSlideLinkSelected" id="u1832">
                                <!-- image -->
                                <img class="block" id="u1832_img" src="/images/3749887150_72b67f2d67_z60x45.jpg" alt=""
                                     width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame grpelem" id="u1828"><!-- image -->
                                <img class="block" id="u1828_img" src="/images/4080412658_186be3d7c1_z-crop-u1828.jpg"
                                     alt="" width="60" height="45">
                            </div>
                            <div class="SSSlideLink clip_frame clearfix grpelem" id="u1830"><!-- image -->
                                <div id="u1830_clip">
                                    <%= image_tag '8939535066_86a20a4c3d_z68x45.jpg', class: 'position_content', id:
                                    'u1830_img', width: '67', height: '45' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Container clearfix grpelem wp-panel" id="u1763"
                 style="display: none; position: absolute; left: 0px; top: 0px;"><!-- group -->
                <div class="grpelem" id="u1872"><!-- custom html -->


                </div>
            </div>
            <div class="Container clearfix grpelem wp-panel" id="u1765"
                 style="display: none; position: absolute; left: 0px; top: 0px;"><!-- group -->
                <div class="grpelem" id="u1880"><!-- custom html -->


                </div>
            </div>
        </div>
        <div class="PamphletCloseButton PamphletLightboxPart popup_element" id="u1697" style="top: 5px; left: 654px;">
            <!-- simple frame --></div>
    </div>
</div>
